<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item active"> {{ section.title }}</li>
  </ol>
  <!-- Icon Cards-->
  <div class="row">




    {% for label in section.data %}
    <div class="col-xl-3 col-sm-6 mb-3">
      <div class="card text-white {{label.color}} o-hidden h-100">
        <div class="card-body">
          <div class="card-body-icon">
            <i class="fa fa-fw {{label.icon}}"></i>
          </div>
          <div class="mr-5"> {{label.title}}: 
            {% if label.value is number %}
            {{'%0.2f'| format(label.value)}}{{label.unit}}
            {% else %}
            {{label.value}}
            {% endif %}
          </div>
        </div>
        <a class="card-footer text-white clearfix small z-1">
          <span class="float-left">Last Updated: 
            {% if label.last_updated is string %}
            {{label.last_updated}}
            {% else %}
            {{label.last_updated.strftime(label_date_time_format)}}
            {% endif %}
          </span>
        </a>
      </div> 
    </div>
    {% endfor %}

  </div> 
