<!-- Area Chart Example-->
<div class="card mb-3">
    <div class="card-header">
      <i class="fa fa-bar-chart"></i>
      {{section.title}}
    </div>
    <div class="card-body">
      <canvas id="daily_energy_chart" width="100%" height="30"></canvas>
    </div>
    <div class="card-footer small text-muted"> Last Updated: data.daily.elec.last_updated</div>
  </div>
  <!-- Area Chart Example-->
  <div class="card mb-3">
    <div class="card-header">
      <i class="fa fa-bar-chart"></i>
      Daily Cost Log
    </div>
    <div class="card-body">
      <canvas id="daily_cost_chart" width="100%" height="30"></canvas>
    </div>
    <div class="card-footer small text-muted"> Last Updated: data.daily.cost.last_updated</div>
  </div>