<div class="card mb-3">
    <div class="card-header" >
      <i class="fa fa-area-chart" ></i> 
      {{section.title + " " + section.last_updated.strftime(date_format) }}
    </div>
    <div class="card-body">
      <canvas id="power_log" width="10" height="3"></canvas>
    </div>
    <div class="card-footer small text-muted">Updated {{ section.last_updated.strftime(label_date_time_format) }}</div>
  </div>

  <script>
    var x_labels = [{% for time_inst in section.x_labels %} '{{ time_inst.strftime(graph_time_format) }}',  {% endfor %}];
  </script> 
  <script src={{ url_for("static", filename="vendor/chart.js/Chart.min.js") }}></script>
  <script>
    var ctx = document.getElementById("power_log");
    var power_chart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: x_labels,
        datasets: [
        {% for serie in section.series %}
          {
          label: {{serie.label}},
          lineTension: 0.3,
          borderColor: '#28a745',
          borderWidth: 2,
          pointRadius: 0,
          pointBackgroundColor: '#28a745',
          pointBorderColor: "rgba(255,255,255,0.8)",
          pointHoverBackgroundColor: '#28a745',
          pointHitRadius: 20,
          pointBorderWidth: 1,
          data: {{serie.data}},
        },
        {% endfor %}  
      ],
      },
      options: {
        scales: {
          xAxes: [{
            time: {
              unit: 'date'
            },
          }],
          yAxes: [{
            gridLines: {
              color: "rgba(0, 0, 0, .125)",
            },
      scaleLabel: {
        display: true,
        labelString: "[kW]",
      }
          }],
        },
        legend: {
          display: true
        },
      }
    });

  </script>