{% set label_date_time_format = '%d-%m-%y %H:%M' %}
{% set time_format = '%H:%M' %}
{% set date_format = '%d-%m-%y' %}


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title> Energy Monitor </title>
  <!-- Bootstrap core CSS-->
  <link href={{ url_for("static", filename="vendor/bootstrap/css/bootstrap.min.css") }} rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href={{ url_for("static", filename="vendor/font-awesome/css/font-awesome.min.css") }} rel="stylesheet" type="text/css">
  <!-- Page level plugin CSS-->
  <link href={{ url_for("static", filename="vendor/datatables/dataTables.bootstrap4.css") }} rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href={{ url_for("static", filename="css/sb-admin.css") }} rel="stylesheet">
</head>

<body class="" id="page-top">
  <div class="container-fluid">


   {% block content %}{% endblock %}


   <!-- Scroll to Top Button-->
   <a class="scroll-to-top rounded" href="#page-top">
    <i class="fa fa-angle-up"></i>
  </a>
</div>
<!-- Bootstrap core JavaScript-->
<script src={{ url_for("static", filename="vendor/jquery/jquery.min.js") }}></script>
<script src={{ url_for("static", filename="vendor/bootstrap/js/bootstrap.bundle.min.js") }}></script>
<!-- Core plugin JavaScript-->
<script src={{ url_for("static", filename="vendor/jquery-easing/jquery.easing.min.js") }}></script>
<!-- Page level plugin JavaScript-->
<script src={{ url_for("static", filename="vendor/datatables/jquery.dataTables.js") }}></script>
<script src={{ url_for("static", filename="vendor/datatables/dataTables.bootstrap4.js") }}></script>
<!-- Custom scripts for all pages-->
<script src={{ url_for("static", filename="js/sb-admin.min.js") }}></script>
<!-- Custom scripts for this page-->
<script>

</script> 
<script src={{ url_for("static", filename="js/sb-admin-datatables.min.js") }}></script>
</div>
</body>

</html>
